/*------------------------Delivery styles--------------------------*/

.delivery {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 100px;
    margin-bottom: 70px;
}

.delivery img {
    max-height: 767px;
}

.delivery .company__title {
    margin-top: 55px;
    font-size: 30px;
    line-height: 150%;
}

.delivery__body {
    max-width: 1040px;
    min-width: 400px;
}

.delivery__element {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-bottom: 60px;
}

.delivery__element:nth-of-type(2){
    justify-content: start;
}

.delivery__text {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #000; 
    max-width: 870px;
}

.delivery__text1, .delivery__text3 {
    text-align: end;
    margin-right: 15px;
}

.delivery__text2 {
    margin-left: 15px;
}

.delivery__element:last-of-type {
    margin-right: 50px;
}

.delivery__element span {
    display: flex;
    align-items: center;
    width: 46px;
    height: 46px;
    min-width: 46px;
    justify-content: center;
    background-color: #E36931;
    border-radius: 50%;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    color: white;
}

@media (max-width: 1440px) {
    .delivery {
      margin-top: 20px;
      padding-right: 40px;
    }

    .delivery .company__title {
        font-size: 20px;
        margin-top: 20px;
    }
    .delivery__text {
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    .delivery img {
        min-width: 100px;
        object-fit: contain;
        margin-bottom: auto;
    }
    .delivery .company__title {
        font-size: 16px;
        margin-top: 10px;
    }
    .delivery__text {
        font-size: 12px;
    }

    .delivery__element {
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .delivery img {
        display: none;
    }
    .delivery {
        padding: 0 10px;
    }
}