/*-------------------------Header styles--------------------*/

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
}

.header__list {
    display: flex;
}

.header__element{
    margin-right: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.header__element a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid transparent;
    transition: 0.2s all ease-in-out;
}

.header__element a:hover {
    border-bottom: 1px solid #E36931;
    color: #E36931;
}

.toggle-sidebar {
    display: none;
}

.header__request {
    position: relative;
}

.request__button {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 14px;
    border: none;
    background-color: transparent;
    transition: 0.2s all ease-in-out;
    text-decoration: none;
    color: black;
}

.request__button:hover {
    color: #E36931;
}

.request__image{
    position: absolute;
    top: 25%;
    right: -20px;
}

.header__contacts {
    display: flex;
    gap: 7px;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 14px;
}

.header__contacts a {
    text-decoration: none;
    color: black;
    transition: 0.2s all ease-in-out;
}

.header__contacts a:hover {
    color: #E36931;
}

.header__search {
    margin-left: 55px;
}

@media (max-width: 1330px) {
    .header__search {
        display: none;
        margin-left: 0;
    }

    .header .container {
        padding-right: 10px;
    }

    .header__element{
        margin-right: 20px;
    }
}

@media (max-width: 1024px) {
    .header__request, .header__contacts {
        display: none;
    }
    .header .container {
        justify-content:start;
    }

    .header__list {
        margin-left: 50px;
    }

}

@media (max-width: 768px){
    .header .container {
        padding: 10px;
        justify-content: space-between;
    }
    .header__element {
        margin-right: 10px;
    }
    .header__list {
        margin-left: 10px;
    }
}

@media (max-width: 553px) {
    .header .container {
        padding: 20px;
    }
    .header__list {
        position: fixed;
        top: 0;
        left: -150%;
        margin: 0;
        padding: 0;
        padding-left: 20px;
        padding-top: 20px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        overflow: auto;
        transition: all 0.2s ease-in;
        background-color: #fff;
        z-index: 10;
    }

    .header__list._active {
        left: 0;
        z-index: 9;
    }

    .header__element {
        font-size: 26px;
        margin-bottom: 10px;
    }

    .toggle-sidebar {
        display: block;
        width: 33px;
        height: 33px;
        align-self: flex-start;
        justify-self: flex-end;
        margin-top: 10px;
        padding: 0;
        border: none;
        background-color: transparent;
        z-index: 50;
    }

    .menu-icon-wrapper {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 50;
    }

    .menu-icon {
        position: relative;
        width: 30px;
        height: 5px;
        background-color: black;
    }

    .menu-icon::before {
        position: absolute;
        left: 0;
        top: -10px;
        content: '';
        width: 30px;
        height: 5px;
        background-color: black;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }

    .menu-icon::after {
        position: absolute;
        left: 0;
        top: 10px;
        content: '';
        width: 30px;
        height: 5px;
        background-color: black;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }

    .menu-icon.menu-icon-active {
        background-color: transparent;
    }

    .menu-icon.menu-icon-active::before {
        transform: rotate(45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in;
        background-color: gray;
    }

    .menu-icon.menu-icon-active::after {
        transform: rotate(-45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in;
        background-color: gray;
    }

    body._lock {
        overflow: hidden;
    } 
}