

/*--------------------------------Payment styles-------------------------*/

.payment__mid {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.payment__element {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 70px;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 400;
    color: #1C2E38;
    margin-bottom: 80px;
}

.payment__element svg {
    margin-right: 10px;
}

.payment__bot {
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 300;
    color: #1C2E38;
    margin-bottom: 70px;
    max-width: 1120px;
}