<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регион 65</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=d8517ae0-ac6e-4603-9435-f3771d20a116&lang=ru_RU" type="text/javascript"></script>
</head>

<body>
    <%= require('html-loader!./pages/header.html').default %>
        <%= require('html-loader!./pages/main.html').default %>
            <%= require('html-loader!./pages/footer.html').default %>
                <%= require('html-loader!./pages/popup.html').default %>
</body>

</html>